*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#4D77E3;
    color:#f6f5f4;
}


.center{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

